# Composer
/vendor/
composer.phar

# Environment
.env
.env.*
!.env.example

# Cache
/cache/*
!/cache/.gitkeep

# Logs
*.log

# Storage
/storage/hasil-foto/*
/storage/bukti-transfer/*
/storage/upload-pelanggan/*
/storage/temp/*
/storage/logs/*

!storage/hasil-foto/.gitkeep
!storage/bukti-transfer/.gitkeep
!storage/upload-pelanggan/.gitkeep
!storage/temp/.gitkeep
!storage/logs/.gitkeep

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Node
node_modules/